<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Chaintech Network</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

    <!-- Header Section -->
    <header>
        <h1>Chaintech Network</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="/form/">form</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        <h2>Let's make waves together!</h2>
        <p>Your industry, our expertise - Team Up with Us!</p>
    </main>

    <!-- Footer Section -->
    <footer>
        <h2>Contact</h2>
        <p>Mail ID: chaintechnetwork@gmail.com</p>
        <p> Phone: 8088205041 </p>
    </footer>

</body>
</html>
