<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Chaintech Network</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

    {% comment %} <!-- Header Section -->
    <header>
        <h1>Chaintech Network </h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="/form/">form</a></li>
            </ul>
        </nav>
    </header> {% endcomment %}


     <!-- Main Content -->
     

    <!-- Footer Section -->
    {% comment %} <footer>
        <h2>Contact</h2>
        <p>Mail ID: chaintechnetwork@gmail.com</p>
        <p> Phone: 8088205041 </p>
    </footer> {% endcomment %}

    <h2>Submit Your Details</h2>
    <form method="post" action="{% url 'submit-form' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>



</body>
</html>
